<!DOCTYPE html>
<!-- Created By CodingNepal -->
<html lang="en" dir="ltr">
   <head>
      <meta charset="utf-8">
      <title>Login Form Design | CodeLab</title>
     
   </head>
   <body>
      <div class="wrapper">
         <div class="title">
            Choisissez ce que vous voulez !
         </div>
         
            
            <form action="">
            
            <div class="field">
               <input  type="submit" value="Liste de STAGAIRE" (click)="openLink()">
               
            </div>
            <div class="field">
                <input  type="submit" value="Les Offres des stages" (click)="openLink2()">
                
             </div>
            
        </form>
      </div>
   </body>
</html>