<div class="azza" style="width: 200 px;">
<button type="button" class="btn btn-primary" style="width: 250 px;">
  LISTE DES OFFRES  <span class="badge text-bg-secondary" style="width: 250 px;">32 offres</span>
</button>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">NOM de l'entreprise</th>
        <th scope="col">Cordonnees</th>
        <th scope="col">Niveau</th>
        <th scope="col">Specialite</th>
        <th scope="col">Nom de contact</th>
        <th scope="col">date de debut</th>
        <th scope="col">date de fin </th>
        <th scope="col">place disponible</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>TELECOM</td>
        <td>Tunis, Tunisie</td>
        <td>Licence</td>
        <td>Développement Web</td>
        <td>John Doe</td>
        <td>10/8/23</td>
        <td>10/12/23</td>
        <td>2</td>
    </tr>
    
    <tr>
        <th scope="row">2</th>
        <td>TELECOM</td>
        <td>Sfax, Tunisie</td>
        <td>Master</td>
        <td>Génie Électrique</td>
        <td>Jane Smith</td>
        <td>5/9/23</td>
        <td>5/12/23</td>
        <td>3</td>
    </tr>
    
    <tr>
        <th scope="row">3</th>
        <td>TELECOM</td>
        <td>Tunis, Tunisie</td>
        <td>Master</td>
        <td>Marketing Digital</td>
        <td>Ahmed Ben Salah</td>
        <td>15/7/23</td>
        <td>15/10/23</td>
        <td>1</td>
    </tr>
    
    <tr>
        <th scope="row">4</th>
        <td>TELECOM</td>
        <td>Sousse, Tunisie</td>
        <td>Ingénieur</td>
        <td>Big Data et Analytics</td>
        <td>Maria Gomez</td>
        <td>20/8/23</td>
        <td>20/11/23</td>
        <td>2</td>
    </tr>
    
    <tr>
        <th scope="row">5</th>
        <td>TELECOM</td>
        <td>Tunis, Tunisie</td>
        <td>Licence</td>
        <td>Architecture</td>
        <td>Amine Mabrouk</td>
        <td>1/9/23</td>
        <td>1/12/23</td>
        <td>1</td>
    </tr>
    
    <tr>
      <th scope="row">6</th>
      <td>TELECOM</td>
      <td>Tunis, Tunisie</td>
      <td>Master</td>
      <td>Réseaux et Télécommunications</td>
      <td>Sarah Amiri</td>
      <td>10/8/23</td>
      <td>10/12/23</td>
      <td>2</td>
  </tr>
  
  <tr>
      <th scope="row">7</th>
      <td>TELECOM</td>
      <td>Sousse, Tunisie</td>
      <td>Ingénieur</td>
      <td>Intelligence Artificielle</td>
      <td>Mohamed Ben Ali</td>
      <td>5/9/23</td>
      <td>5/12/23</td>
      <td>3</td>
  </tr>
  
  <tr>
      <th scope="row">8</th>
      <td>TELECOM</td>
      <td>Tunis, Tunisie</td>
      <td>Master</td>
      <td>Ingénierie Logicielle</td>
      <td>Lina Cherif</td>
      <td>15/7/23</td>
      <td>15/10/23</td>
      <td>1</td>
  </tr>
  
  <tr>
      <th scope="row">9</th>
      <td>TELECOM</td>
      <td>Sousse, Tunisie</td>
      <td>Ingénieur</td>
      <td>Sécurité Informatique</td>
      <td>Ramzi Ghali</td>
      <td>20/8/23</td>
      <td>20/11/23</td>
      <td>2</td>
  </tr>
  
  <tr>
      <th scope="row">10</th>
      <td>TELECOM</td>
      <td>Tunis, Tunisie</td>
      <td>Licence</td>
      <td>Développement Mobile</td>
      <td>Aicha Miled</td>
      <td>1/9/23</td>
      <td>1/12/23</td>
      <td>1</td>
  </tr>
  
  <tr>
      <th scope="row">11</th>
      <td>TELECOM</td>
      <td>Sfax, Tunisie</td>
      <td>Master</td>
      <td>Internet des Objets (IoT)</td>
      <td>Karim Makhlouf</td>
      <td>10/8/23</td>
      <td>10/12/23</td>
      <td>2</td>
  </tr>
  
  <tr>
      <th scope="row">12</th>
      <td>TELECOM</td>
      <td>Tunis, Tunisie</td>
      <td>Ingénieur</td>
      <td>Analyse de Données</td>
      <td>Nour Ben Salah</td>
      <td>5/9/23</td>
      <td>5/12/23</td>
      <td>3</td>
  </tr>
  
  <tr>
      <th scope="row">13</th>
      <td>TELECOM</td>
      <td>Sousse, Tunisie</td>
      <td>Master</td>
      <td>Intégration Réseau</td>
      <td>Marwa Haddad</td>
      <td>15/7/23</td>
      <td>15/10/23</td>
      <td>1</td>
  </tr>
  
  <tr>
      <th scope="row">14</th>
      <td>TELECOM</td>
      <td>Tunis, Tunisie</td>
      <td>Ingénieur</td>
      <td>Cloud Computing</td>
      <td>Sami Ghazi</td>
      <td>20/8/23</td>
      <td>20/11/23</td>
      <td>2</td>
  </tr>
  
  <tr>
      <th scope="row">15</th>
      <td>TELECOM</td>
      <td>Sfax, Tunisie</td>
      <td>Master</td>
      <td>Intelligence d'Affaires (Business Intelligence)</td>
      <td>Ines Jallouli</td>
      <td>1/9/23</td>
      <td>1/12/23</td>
      <td>1</td>
  </tr>
  
  <tr>
      <th scope="row">16</th>
      <td>TELECOM</td>
      <td>Tunis, Tunisie</td>
      <td>Licence</td>
      <td>Administration Système et Réseaux</td>
      <td>Malek Hammami</td>
      <td>10/8/23</td>
      <td>10/12/23</td>
      <td>2</td>
  </tr>
  
  <tr>
      <th scope="row">17</th>
      <td>TELECOM</td>
      <td>Sousse, Tunisie</td>
      <td>Ingénieur</td>
      <td>Développement Java</td>
      <td>Aya Nasri</td>
      <td>5/9/23</td>
      <td>5/12/23</td>
      <td>3</td>
  </tr>
  
  <tr>
      <th scope="row">18</th>
      <td>TELECOM</td>
      <td>Tunis, Tunisie</td>
      <td>Master</td>
      <td>Réseaux Mobiles</td>
      <td>Ahmed Karoui</td>
      <td>15/7/23</td>
      <td>15/10/23</td>
      <td>1</td>
  </tr>
  
  <tr>
      <th scope="row">19</th>
      <td>TELECOM</td>
      <td>Sousse, Tunisie</td>
      <td>Ingénieur</td>
      <td>Ingénierie des Télécommunications</td>
      <td>Nour Brahmi</td>
      <td>20/8/23</td>
      <td>20/11/23</td>
      <td>2</td>
  </tr>
  
  <tr>
    <th scope="row">20</th>
    <td>TELECOM</td>
    <td>Tunis, Tunisie</td>
    <td>Licence</td>
    <td>Développement Web</td>
    <td>John Doe</td>
    <td>10/8/23</td>
    <td>10/12/23</td>
    <td>2</td>
</tr>

<tr>
    <th scope="row">21</th>
    <td>TELECOM</td>
    <td>Sfax, Tunisie</td>
    <td>Master</td>
    <td>Génie Électrique</td>
    <td>Jane Smith</td>
    <td>5/9/23</td>
    <td>5/12/23</td>
    <td>3</td>
</tr>

<tr>
    <th scope="row">22</th>
    <td>TELECOM</td>
    <td>Tunis, Tunisie</td>
    <td>Master</td>
    <td>Marketing Digital</td>
    <td>Ahmed Ben Salah</td>
    <td>15/7/23</td>
    <td>15/10/23</td>
    <td>1</td>
</tr>

<tr>
    <th scope="row">23</th>
    <td>TELECOM</td>
    <td>Sousse, Tunisie</td>
    <td>Ingénieur</td>
    <td>Big Data et Analytics</td>
    <td>Maria Gomez</td>
    <td>20/8/23</td>
    <td>20/11/23</td>
    <td>2</td>
</tr>

<tr>
    <th scope="row">24
    </th>
    <td>TELECOM</td>
    <td>Tunis, Tunisie</td>
    <td>Licence</td>
    <td>Architecture</td>
    <td>Amine Mabrouk</td>
    <td>1/9/23</td>
    <td>1/12/23</td>
    <td>1</td>
</tr>

<tr>
  <th scope="row">25</th>
  <td>TELECOM</td>
  <td>Tunis, Tunisie</td>
  <td>Master</td>
  <td>Réseaux et Télécommunications</td>
  <td>Sarah Amiri</td>
  <td>10/8/23</td>
  <td>10/12/23</td>
  <td>2</td>
</tr>

<tr>
  <th scope="row">26</th>
  <td>TELECOM</td>
  <td>Sousse, Tunisie</td>
  <td>Ingénieur</td>
  <td>Intelligence Artificielle</td>
  <td>Mohamed Ben Ali</td>
  <td>5/9/23</td>
  <td>5/12/23</td>
  <td>3</td>
</tr>

<tr>
  <th scope="row">27</th>
  <td>TELECOM</td>
  <td>Tunis, Tunisie</td>
  <td>Master</td>
  <td>Ingénierie Logicielle</td>
  <td>Lina Cherif</td>
  <td>15/7/23</td>
  <td>15/10/23</td>
  <td>1</td>
</tr>

<tr>
  <th scope="row">28</th>
  <td>TELECOM</td>
  <td>Sousse, Tunisie</td>
  <td>Ingénieur</td>
  <td>Sécurité Informatique</td>
  <td>Ramzi Ghali</td>
  <td>20/8/23</td>
  <td>20/11/23</td>
  <td>2</td>
</tr>

<tr>
  <th scope="row">29</th>
  <td>TELECOM</td>
  <td>Tunis, Tunisie</td>
  <td>Licence</td>
  <td>Développement Mobile</td>
  <td>Aicha Miled</td>
  <td>1/9/23</td>
  <td>1/12/23</td>
  <td>1</td>
</tr>

<tr>
  <th scope="row">30</th>
  <td>TELECOM</td>
  <td>Sfax, Tunisie</td>
  <td>Master</td>
  <td>Internet des Objets (IoT)</td>
  <td>Karim Makhlouf</td>
  <td>10/8/23</td>
  <td>10/12/23</td>
  <td>2</td>
</tr>

<tr>
  <th scope="row">31</th>
  <td>TELECOM</td>
  <td>Tunis, Tunisie</td>
  <td>Ingénieur</td>
  <td>Analyse de Données</td>
  <td>Nour Ben Salah</td>
  <td>5/9/23</td>
  <td>5/12/23</td>
  <td>3</td>
</tr>

<tr>
  <th scope="row">32</th>
  <td>TELECOM</td>
  <td>Sousse, Tunisie</td>
  <td>Master</td>
  <td>Intégration Réseau</td>
  <td>Marwa Haddad</td>
  <td>15/7/23</td>
  <td>15/10/23</td>
  <td>1</td>
</tr>



        </tbody>
  </table>
