<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top" id="lgo">
    <div class="container-fluid">
      <a class="navbar-brand" href="#"><img src="assets/logo1.svg "style="width: 90px; height: 45px;" alt="">
        
          
    </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
         <h1>Telecom <span>Sta</span>ge<span>Fin</span>der</h1>
        
          <form class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success" type="submit">Search</button>
          </form>
        
          <a class="nav-link active" aria-current="page" href="#">Home</a>
          <a class="nav-link" href="#home/projects">DOMAINES</a>
          <a class="nav-link" href="#">ABOUT</a>
          <a class="nav-link" href="#">CONTACT</a>
         
          <button type="submit" class="btn btn-outline-primary"  routerLink="/signIn" >SIGN-IN</button>
          <button type="button" class="btn btn-outline-primary" routerLink="/signUp" >SIGN-UP</button>
            


        </div>
      </div>
    </div>
  </nav>