<div class="azza">
<button type="button" class="btn btn-primary" style="text-align: center;">
  LISTE DES STAGAIRES <span class="badge text-bg-secondary">29 Stagaires</span>
</button>
</div>
<table class="table">
    <thead>
      <tr>
        <th scope="col">N°</th>
        <th scope="col">NOM</th>
        <th scope="col">PRENOM</th>
        <th scope="col">CIN</th>
        <th scope="col">institut</th>
        <th scope="col">Diplome</th>
        <th scope="col">Specialite</th>
        <th scope="col">Date debut</th>
        <th scope="col">Date fin</th>
        <th scope="col">tel Stagaire</th>
        <th scope="col">lieu de stage</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <th scope="row">1</th>
        <td>Tarres</td>
        <td>douaa</td>
        <td>14417352</td>
        <td>iset borj cedria</td>
        <td>Lisence</td>
        <td>TELECOM </td>
        <td>4/7/22</td>
        <td>31/7/22</td>
        <td> 92200500</td>
        <td> ROC NABEUL</td>
      </tr>
      
        <tr>
          <th scope="row">2</th>
          <td>Dupont</td>
          <td>Pierre</td>
          <td>20345678</td>
          <td>Université Paris-Sud</td>
          <td>Master</td>
          <td>Informatique</td>
          <td>15/6/23</td>
          <td>15/8/23</td>
          <td>92200345</td>
          <td>Paris, France</td>
      </tr>
      
      
      <tr>
        <th scope="row">3</th>
        <td>Gharbi</td>
        <td>Ahmed</td>
        <td>20211234</td>
        <td>ENIT Tunis</td>
        <td>Ingénierie Mécanique</td>
        <td>Genie Industriel</td>
        <td>10/9/23</td>
        <td>10/12/23</td>
        <td>71234567</td>
        <td>Tunis, Tunisie</td>
    </tr>
    <tr>
      <th scope="row">4</th>
      <td>Saidi</td>
      <td>Sana</td>
      <td>20191235</td>
      <td>ISSAT Sousse</td>
      <td>Ingénierie Informatique</td>
      <td>Developpement Web</td>
      <td>5/6/23</td>
      <td>30/9/23</td>
      <td>70123456</td>
      <td>Sousse, Tunisie</td>
  </tr>
  <tr>
    <th scope="row">5</th>
    <td>Mabrouk</td>
    <td>Salma</td>
    <td>20225001</td>
    <td>ISG Tunis</td>
    <td>Marketing</td>
    <td>Stratégie Digitale</td>
    <td>20/8/23</td>
    <td>20/11/23</td>
    <td>71231234</td>
    <td>Tunis, Tunisie</td>
</tr>
<tr>
  <th scope="row">6</th>
  <td>Ben Salah</td>
  <td>Youssef</td>
  <td>20239999</td>
  <td>ENIM Monastir</td>
  <td>Génie Électrique</td>
  <td>Électronique Industrielle</td>
  <td>3/10/23</td>
  <td>31/12/23</td>
  <td>71239876</td>
  <td>Monastir, Tunisie</td>
</tr>
<tr>
  <th scope="row">7</th>
  <td>Cherif</td>
  <td>Lina</td>
  <td>20231999</td>
  <td>ESSEC Tunis</td>
  <td>Finance</td>
  <td>Comptabilité</td>
  <td>5/9/23</td>
  <td>5/12/23</td>
  <td>71236666</td>
  <td>Tunis, Tunisie</td>
</tr>
<tr>
  <th scope="row">8</th>
  <td>Karoui</td>
  <td>Ahmed</td>
  <td>20243210</td>
  <td>ENSI Tunis</td>
  <td>Informatique</td>
  <td>Intelligence Artificielle</td>
  <td>12/7/23</td>
  <td>12/10/23</td>
  <td>71237890</td>
  <td>Tunis, Tunisie</td>
</tr>
<tr>
  <th scope="row">9</th>
  <td>Brahmi</td>
  <td>Nour</td>
  <td>20249999</td>
  <td>ENIT Monastir</td>
  <td>Génie Industriel</td>
  <td>Management de Projet</td>
  <td>15/8/23</td>
  <td>15/11/23</td>
  <td>71230001</td>
  <td>Monastir, Tunisie</td>
</tr>
<tr>
  <th scope="row">10</th>
  <td>Ghazi</td>
  <td>Sami</td>
  <td>20251234</td>
  <td>ISAMM Sousse</td>
  <td>Arts Numériques</td>
  <td>Design Graphique</td>
  <td>8/9/23</td>
  <td>8/12/23</td>
  <td>71239987</td>
  <td>Sousse, Tunisie</td>
</tr>
<tr>
  <th scope="row">10</th>
  <td>Ghazi</td>
  <td>Sami</td>
  <td>20251234</td>
  <td>ISAMM Sousse</td>
  <td>Arts Numériques</td>
  <td>Design Graphique</td>
  <td>8/9/23</td>
  <td>8/12/23</td>
  <td>71239987</td>
  <td>Sousse, Tunisie</td>
</tr>

<tr>
  <th scope="row">11</th>
  <td>Jallouli</td>
  <td>Ines</td>
  <td>20267777</td>
  <td>ENSI Sousse</td>
  <td>Génie Logiciel</td>
  <td>Développement Mobile</td>
  <td>20/7/23</td>
  <td>20/10/23</td>
  <td>71238765</td>
  <td>Sousse, Tunisie</td>
</tr>
<tr>
  <th scope="row">12</th>
  <td>Alioui</td>
  <td>Hassan</td>
  <td>20251235</td>
  <td>ISG Sfax</td>
  <td>Commerce International</td>
  <td>Marketing Digital</td>
  <td>10/8/23</td>
  <td>10/11/23</td>
  <td>71239988</td>
  <td>Sfax, Tunisie</td>
</tr>

<tr>
  <th scope="row">13</th>
  <td>Makhlouf</td>
  <td>Sabrine</td>
  <td>20254321</td>
  <td>FSEG Sousse</td>
  <td>Économie</td>
  <td>Finance d'Entreprise</td>
  <td>1/9/23</td>
  <td>1/12/23</td>
  <td>71230009</td>
  <td>Sousse, Tunisie</td>
</tr>

<tr>
  <th scope="row">14</th>
  <td>Ben Youssef</td>
  <td>Karim</td>
  <td>20256666</td>
  <td>ENSI Bizerte</td>
  <td>Génie Civil</td>
  <td>Construction et Travaux Publics</td>
  <td>15/7/23</td>
  <td>15/10/23</td>
  <td>71233333</td>
  <td>Bizerte, Tunisie</td>
</tr>
<tr>
  <th scope="row">15</th>
  <td>Mansour</td>
  <td>Ines</td>
  <td>20261234</td>
  <td>ISSAT Kairouan</td>
  <td>Génie des Procédés</td>
  <td>Chimie Industrielle</td>
  <td>5/8/23</td>
  <td>5/11/23</td>
  <td>71239990</td>
  <td>Kairouan, Tunisie</td>
</tr>
<tr>
  <th scope="row">16</th>
  <td>Hammami</td>
  <td>Malek</td>
  <td>20267778</td>
  <td>ENSI Manouba</td>
  <td>Génie Électromécanique</td>
  <td>Automatique et Robotique</td>
  <td>20/9/23</td>
  <td>20/12/23</td>
  <td>71239991</td>
  <td>Manouba, Tunisie</td>
</tr>

<tr>
  <th scope="row">17</th>
  <td>Haddad</td>
  <td>Rim</td>
  <td>20279999</td>
  <td>ISITCom Tunis</td>
  <td>Informatique de Gestion</td>
  <td>Big Data et Data Science</td>
  <td>12/7/23</td>
  <td>12/10/23</td>
  <td>71239992</td>
  <td>Tunis, Tunisie</td>
</tr>
<tr>
  <th scope="row">18</th>
  <td>Ben Mahmoud</td>
  <td>Marwa</td>
  <td>20281234</td>
  <td>ESI Manouba</td>
  <td>Informatique Industrielle</td>
  <td>Systèmes Embarqués</td>
  <td>8/9/23</td>
  <td>8/12/23</td>
  <td>71239993</td>
  <td>Manouba, Tunisie</td>
</tr>

<tr>
  <th scope="row">19</th>
  <td>Nasri</td>
  <td>Aya</td>
  <td>20289999</td>
  <td>ISSAT Gabes</td>
  <td>Génie Mécanique</td>
  <td>Conception Mécanique</td>
  <td>3/10/23</td>
  <td>3/1/24</td>
  <td>71239994</td>
  <td>Gabes, Tunisie</td>
</tr>
<tr>
  <th scope="row">20</th>
  <td>Tarres</td>
  <td>douaa</td>
  <td>14417352</td>
  <td>iset borj cedria</td>
  <td>Lisence</td>
  <td>TELECOM </td>
  <td>4/7/22</td>
  <td>31/7/22</td>
  <td> 92200500</td>
  <td> ROC NABEUL</td>
</tr>

  <tr>
    <th scope="row">21</th>
    <td>Dupont</td>
    <td>Pierre</td>
    <td>20345678</td>
    <td>Université Paris-Sud</td>
    <td>Master</td>
    <td>Informatique</td>
    <td>15/6/23</td>
    <td>15/8/23</td>
    <td>92200345</td>
    <td>Paris, France</td>
</tr>


<tr>
  <th scope="row">22</th>
  <td>Gharbi</td>
  <td>Ahmed</td>
  <td>20211234</td>
  <td>ENIT Tunis</td>
  <td>Ingénierie Mécanique</td>
  <td>Genie Industriel</td>
  <td>10/9/23</td>
  <td>10/12/23</td>
  <td>71234567</td>
  <td>Tunis, Tunisie</td>
</tr>
<tr>
<th scope="row">23</th>
<td>Saidi</td>
<td>Sana</td>
<td>20191235</td>
<td>ISSAT Sousse</td>
<td>Ingénierie Informatique</td>
<td>Developpement Web</td>
<td>5/6/23</td>
<td>30/9/23</td>
<td>70123456</td>
<td>Sousse, Tunisie</td>
</tr>
<tr>
<th scope="row">24</th>
<td>Mabrouk</td>
<td>Salma</td>
<td>20225001</td>
<td>ISG Tunis</td>
<td>Marketing</td>
<td>Stratégie Digitale</td>
<td>20/8/23</td>
<td>20/11/23</td>
<td>71231234</td>
<td>Tunis, Tunisie</td>
</tr>
<tr>
<th scope="row">25</th>
<td>Ben Salah</td>
<td>Youssef</td>
<td>20239999</td>
<td>ENIM Monastir</td>
<td>Génie Électrique</td>
<td>Électronique Industrielle</td>
<td>3/10/23</td>
<td>31/12/23</td>
<td>71239876</td>
<td>Monastir, Tunisie</td>
</tr>
<tr>
<th scope="row">26</th>
<td>Cherif</td>
<td>Lina</td>
<td>20231999</td>
<td>ESSEC Tunis</td>
<td>Finance</td>
<td>Comptabilité</td>
<td>5/9/23</td>
<td>5/12/23</td>
<td>71236666</td>
<td>Tunis, Tunisie</td>
</tr>
<tr>
<th scope="row">27</th>
<td>Karoui</td>
<td>Ahmed</td>
<td>20243210</td>
<td>ENSI Tunis</td>
<td>Informatique</td>
<td>Intelligence Artificielle</td>
<td>12/7/23</td>
<td>12/10/23</td>
<td>71237890</td>
<td>Tunis, Tunisie</td>
</tr>
<tr>
<th scope="row">28</th>
<td>Brahmi</td>
<td>Nour</td>
<td>20249999</td>
<td>ENIT Monastir</td>
<td>Génie Industriel</td>
<td>Management de Projet</td>
<td>15/8/23</td>
<td>15/11/23</td>
<td>71230001</td>
<td>Monastir, Tunisie</td>
</tr>
<tr>
<th scope="row">29</th>
<td>Ghazi</td>
<td>Sami</td>
<td>20251234</td>
<td>ISAMM Sousse</td>
<td>Arts Numériques</td>
<td>Design Graphique</td>
<td>8/9/23</td>
<td>8/12/23</td>
<td>71239987</td>
<td>Sousse, Tunisie</td>
</tr>
    </tbody>
  </table>